*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
}
header{
    padding: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #eef7fc;
    border-bottom: 1px solid #5f5f5f;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    gap: 10px;
}
header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .logo img{
    width: 30px;
    height: 30px;
    align-self: center;
}
header .menu{
    align-self: center;
}
header .menu ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 10px;
}
header .menu ul li{
    cursor: pointer;
}
header .menu li img{
    width: 25px;
    height: 25px;
}
header .menu ul input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #2c2c2c;
    padding: 5px 10px;
}
header .menu ul input:focus{
    outline: none;
}
.main{
    background-color: #FFFFFF;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 3fr 8fr 2fr;
    grid-template-rows: 95%;
    grid-template-areas:
    "Leftbar Content Rightbar";
    gap: 10px;
    padding: 10px;
}
.leftbar{
    padding: 15px;
    border-right: 1px solid #151515;
    box-shadow: 5px 0 10px rgba(0,0,0,0.1);
}
.leftbar .categories ul{
    list-style-type: none;
}
.content{
    padding: 15px;
}
.content .item{
    cursor: pointer;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content .item:hover{
    background-color: #E0F2FE;
    transition: 0.2s ease;
    border: 1px solid #999;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.rightbar{
    padding: 15px;
    border-left: 1px solid #020202;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.item img{
    width: 150px;
    height: auto;
    display: block;
    margin-top: 5px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    width: 100%;
}
@media (max-width:900px){
    .main{
        grid-template-columns: 4fr 10fr;
        grid-template-areas:
        "Header Header"
        "Nav Content"
        "Footer Footer";
    }
    .rightbar{
        display: none;
    }
}
@media (max-width:600px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-areas: "Header"
                             "Content"
                             "Footer";
    }
    header{
        gap: 20px;
    }
    header h1{
        display: none;
    }
    .menu li input{
        width: 125px;
    }
    .menu ul li input{
        max-width: 100%;
        width: auto;

    }
    .leftbar,.rightbar{
        display: none;
    }
}